<table id="job_list" class="sortable">
  <thead>
    <tr>
	  <th>Id</th>
      <th>Name</th>
      <th>Priority</th>
      <th>Progress</th>
      <th>Status</th>
      <th>Owner</th>
    </tr>
  </thead>
<% @jobs.each do |job| %>
  <tr class="<%= cycle("even", "odd") %> jobDataRow">
	<td field='job_id'><%=h job.id %></td>
    <td field='name' value='<%= job.name %>'><%= link_to job.name, job %></td>
	<td field='priority'><%=h job.priority %></td>
    <td field='progress' value='<%= job.progress %>'><%=h number_to_percentage(job.progress, :precision => 1) %></td>
    <td field='status' value='<%= job.status %>' class="<%=h job.status_string %>"><%=h job.status_string.capitalize %></td>
    <td field='owner'><%=h job.owner %></td>
  </tr>
<% end %>
</table>