<h1>New job</h1>

   <script>
     dojo.require("dijit.Dialog");
     dojo.require("dojo.parser");
   </script>


<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><%= link_to "Dialog", "#", :onclick => "dijit.byId('dialog1').show();" %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<div dojoType="dijit.Dialog" id="dialog1" title="First Dialog">
<p>Tip You can put everything you like in that field!</p>
</div>


<%= link_to 'Back', jobs_path %>