<%= stylesheet_link_tag "task_style" %>

<p>
  <b>Name:</b>
  <%=h @job.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @job.status %>
</p>

<p>
  <b>Owner:</b>
  <%=h @job.owner %>
</p>

<p>
	<b>Progress:</b>
	<%=h Task.count(:conditions => ["job_id = ? AND status = 3", @job.id]) %> / <%=h Task.count(:conditions => ["job_id = ?", @job.id]) %>
</p>
<div id="tasks">
<%= render :partial => 'tasks/list' %>
</div>

<%= periodically_call_remote :update    => 'tasks',
                             :url       => { :controller => :tasks, :action => :list, :id => @job.id },
                             :frequency => 2.0 %>

<%= link_to 'Job List', jobs_path %>