<%= stylesheet_link_tag "task_style" %>

<div id="job-data">
<h1><a href="#" onclick="renameDialog(<%= @job.id %>, '<%= @job.name %>')"><%=h @job.name %></a></h1>

<p>
  <b>Status:</b>
  <%=h @job.status %>
</p>

<p>
  <b>Owner:</b>
  <%=h @job.owner %>
</p>

<p>
  <b>Times:</b>
  <ul>
  <li>Average: <%=h distance_of_time_in_words(@job.averagetime) %></li>
  <li>Total:   <%=h distance_of_time_in_words(@job.runtime) %></li>
  <li>Remaining: <%=h distance_of_time_in_words(@job.estimate) %></li>
  </ul>
</p>
<p>
	<b>Progress:</b>
	<%=h @job.progress %>% (<%=h @job.finished %> / <%=h @job.task_count %>)
</p>
</div>
<div id="tasks">
	<table>
	  <thead>
		<tr>
		  <th>Environment</th>
	      <th>Priority</th>
	      <th>Command</th>
	      <th>Status</th>
	      <th>Job</th>
	    </tr>
	  </thead>

	<% @job.tasks.each do |task| %>
	  <%= link_to (render :partial => 'tasks/row', :locals => { :task => task }), task %>
	<% end %>
	</table>
</div>

<script type='text/javascript'>
var getJobData = function(e) {
	return '<%= @job.to_json(:except => :meta, :methods => [:progress, :finished, :running, :queued, :waiting, :estimate, :runtime, :priority] )  %>'.evalJSON()
}

new Proto.Menu({
  selector: '#job-data', 
  className: 'context-menu', // this is a class which will be attached to menu container (used for css styling)
  menuItems: jobMenuItems // array of menu items
})

new Proto.Menu({
  selector: '.taskTableRow', 
  className: 'context-menu', // this is a class which will be attached to menu container (used for css styling)
  menuItems: taskMenuItems // array of menu items
})
</script>

<%= link_to 'Job List', jobs_path %>
