<p>
  <b>Name:</b>
  <%=h @job.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @job.status %>
</p>

<p>
  <b>Owner:</b>
  <%=h @job.owner %>
</p>

<div id="tasks">

</div>

<%= periodically_call_remote :update    => 'tasks',
                             :url       => { :controller => :tasks, :action => :list, :id => @job.id },
                             :frequency => 2.0 %>

<%= link_to 'Job List', jobs_path %>