<p>
  <b>Name:</b>
  <%=h @job.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @job.status %>
</p>

<p>
  <b>Owner:</b>
  <%=h @job.owner %>
</p>

<table>
  <tr>
    <th>Priority</th>
    <th>Command</th>
    <th>Status</th>
  </tr>

<% @job.tasks.each do |task| %>
  <% if task.status = 0 %>
  <tr class='waiting'>
  <% elsif task.status = 1 %>  
  <tr class='queued'>
  <% elsif task.status = 2 %>  
  <tr class='running'>
  <% elsif task.status = 3 %>  
  <tr class='finished'>
  <% elsif task.status = -1 %>  
  <tr class='paused'>
  <% elsif task.status = -2 %>  
  <tr class='stopped'>
  <% elsif task.status = -3 %>  
  <tr class='errored'>
  <% else %>
  <tr>
  <% end %>
    <td><%=h task.priority %></td>
    <td><%=h task.command %></td>
    <td><%=h task.status %></td>
    <td><%= link_to 'Show', task %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Job List', jobs_path %>