<%= stylesheet_link_tag "task_style" %>

<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>

<p>
  <b>Command:</b>
  <%=h @task.command %>
</p>

<p>
  <b>Status:</b>
  <%=h @task.status %>
</p>

<p>
  <b>Job:</b>
  <%=h @task.job.name %>
</p>

<p>
  <b>Logs:</b>
  <table>
  <tr>
	<th>Return Code</th>
	<th>Time</th>
  </tr>
  <% @task.task_logs.each do |log| %>
  <tr>
	<td><%=h log.returncode %></td>
	<td><%=h log.time %></td>
  </tr>
  </table>
  <% end %>	
<p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
