<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>

<p>
  <b>Command:</b>
  <%=h @task.command %>
</p>

<p>
  <b>Status:</b>
  <%=h @task.status %>
</p>

<p>
  <b>Job:</b>
  <%=h @task.job.name %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
