<%= stylesheet_link_tag "task_style" %>

<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>

<p>
  <b>Command:</b>
  <%=h @task.command %>
</p>

<p>
  <b>Status:</b>
  <%=h @task.status %>
</p>

<p>
  <b>Job:</b>
  <%=h @task.job.name %>
</p>

<p>
 <b>Environment:</b>
 <table>
 <thead>
	<tr>
	  <td>Variable</td>
	  <td>Value</td>
	</tr>
 </thead>
 <% @task.env_hash.each_pair do |key, value| %>
 <tr> 
   <td><%=h key %></td>
   <td><%=h value %></td>
 </tr>	
 <% end %>
 </table>
</p>

<p>
  <b>Logs:</b>
  <table>
  <tr>
	<th>Return Code</th>
	<th>Time</th>
	<th>Cattle</th>
	<th>stdout</th>
	<th>stderr</th>
  </tr>
  <% @task.task_logs.each do |log| %>
  <tr>
	<td><%=h log.returncode %></td>
	<td><%=h log.time %></td>
	<td><%=h log.cattle.hostname %>
	<td><%= simple_format(log.stdout) %></td>
	<td><%= simple_format(log.stderr) %></td>
  </tr>
  <% end %>	
  </table>
<p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
